:root {
  --primary: #44eabbe5;
  --text: #080e2c;
  --secondary: #d8e8e4;
  --ternary: #f3fdfb;
}

html {
  font-family: "Fira Sans", sans-serif;
}

body {
  background-color: var(--ternary);
  min-height: calc(100vh - 32px);
  max-width: 1000px;
  margin: 32px auto 0;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__options > * {
  margin-right: 8px;
}

.pill {
  background: var(--secondary);
  border-radius: 8px;
  text-align: center;
  padding: 6px 20px;
}

.pill--inactive {
  opacity: 50%;
}

.cta-button {
  background-color: var(--primary);
  text-align: center;
  padding: 8px 32px;
  font-size: 24px;
  border-color: transparent;
  border-radius: 4px;
  box-shadow: 1px 4px 5px #000000a6;
}

.cta-button:hover {
  cursor: pointer;
  box-shadow: 1px 6px 7px #000000a6;
}

.button__container {
  margin-top: 40px;
}

.words {
  display: flex;
  flex-wrap: wrap;
}
